.heading{
    font-family: Slabo , serif;
    font-size: 25px;
    text-align:center;
    margin-bottom: -100px;
    margin-top: 150px;
}
.about-me{
    border: solid; 
    background-color:#8A33FF;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 200px;
    color: white;

}
.about{
    text-align: center;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-top: 20px;
        

    
}
.sub-heading-1{
    text-align: center;
    font-size: 40px; 
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 70px;
    

}

.avatar{
    
    margin-top: 80px;
    margin-left: 38%;
    margin-right: 50%;
    
}
.skills{
        list-style-type: none;
        font-size: 25px;
       
}
.languages{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;

}
.html-text{
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 100px;
    color: white;   


}
.css-text{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;

    color: white;
    float:right;
    margin-right: -525px;
    line-height: 200px;
    margin-top: 225px;  
}
.js-text{
    color:white; 
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    width: 30%;
    float: left;
    margin-top: 550px; 
    margin-left: -450px;
    
}
.speak{
    border: 5px solid black;
    height: 700px;
    margin-left: -10px;
    margin-right: -10px;
    color:black;
    background: rgb(0, 0, 0);
    padding-bottom: 300px;


    
}

.html {   
    height: 200px;
    float: left;
    margin-left: -25px;
    
        
    

    
}
.css{
    margin-top: 200px;
    height: 200px;
    float: right;
    margin-right: 350px;
    padding-right: 80px;
    
}
.js{
    
    height: 170px;
    float: left;
    margin-top: 500px;
    margin-left: -650px;

}