.heading{
    font-family: Slabo , serif;
    font-size: 25px;
    text-align:center;
    margin-bottom: -100px;
    margin-top: 100px;
}
.about-me{
    border: solid; 
    background-color:#8A33FF;
    max-width: 100%;
    overflow-x: initial;
    margin-top: 200px;
    color: white;
    
}
.about{
    text-align: center;
    font-size: 25px;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left:20%;
    margin-right:20%;
        

    
}
.sub-heading-1{
    text-align: center;
    font-size: 40px; 
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 70px;
    

}

.avatar{
    
    margin-top: 100px;
    margin-left: 40%;

}
.hi{
    text-align: center;
    font-size: 30px;
    margin-left: 5%;
}
.skills{
        list-style-type: none;
        font-size: 25px;
       
}
.languages{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;

}
.html-text{
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-top: 100px;
    color: white;   


}
.css-text{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: white;
    float:right;
    line-height: 200px;
    margin-top: 230px;  
    margin-right:-35%;
}
.js-text{
    color:white; 
    font-family: 'Oswald', sans-serif;
    font-size:30px;
    margin-top: 400px;
    float: left;
 
    
}
.speak{
    border: 5px solid black;
    height: 700px;
    color:black;
    background: rgb(0, 0, 0);
    padding-bottom: 100px;


    
}

.html {   
    height: 200px;
    float: left;
                          
     
}
.css{
    margin-top: 200px;
    height: 200px;
    float: right;
    margin-right: 30%;
    
}
.js{
    
    height: 170px;
    float: left;
    margin-top: 500px;
    margin-left: -42%;

}
.project{
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif
}
.project-link{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.project-logo{
    margin-left:37%;
    height: 400px;

}

.Dental{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;


}